html {
  background-color: #ff9238
}
html body{
  width: 100%;
}
body {
  text-align: center;
}
h1 {
  font-size:70px;
  color:rgb(122, 220, 24);
  font-family: 'Rubik Dirt', cursive;
}
.master {
  width: 700px;
}
.parallax {
    background-image: url("https://www.easthartfordct.gov/sites/g/files/vyhlif526/f/styles/gallery_full/public/galleries/playscape2_0.jpg?itok=DeXdhSF_");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}